
<main class="main">
  <div class="page-content">
    <section class="error-section-2  error-default banner banner-fixed">
      <div style="height: calc(100vh - 250px);"></div>
      <div class="container  text-center">
        <div class="banner-content y-50">
          <div  class="error_submition box">
            <i class="fas fa-times"></i>
          </div>
          <h3 class="banner-subtitle font-weight-bold mb-2">
            {{"Error!" | translate}}
          </h3>
          <span class="banner-descri ls-normal font-weight-normal text-body d-block">
            {{"It looks like your order not completed successfully." | translate}}
          </span>
          <a class="btn btn-primary btn-rounded mt-6 mb-1" href="javascript:void(0);" (click)="goBack()">
            {{"Get back" | translate}}
          <i class="d-icon-arrow-right"></i> </a>
        </div>
      </div>
    </section>
  </div>
</main>