@if (style) {
  @if (style == 'grid' || style == 'list') {
    <app-shop-style1
      [pageSection]="pageData"
      [invoiceData]="invoiceData"
      [categories]="categories"
      [brands]="brands"
      [productTags]="productTags"
      [loadingCategories]="loadingCategories"
      [loadingTags]="loadingTags"
      [loadingBrands]="loadingBrands"
    ></app-shop-style1>
  } @else {
    <app-shop-style2
      [pageSection]="pageData"
      [invoiceData]="invoiceData"
      [categories]="categories"
      [brands]="brands"
      [productTags]="productTags"
      [loadingCategories]="loadingCategories"
      [loadingTags]="loadingTags"
      [loadingBrands]="loadingBrands"
    ></app-shop-style2>
  }
}