@if (promoData && promoData) {


  <div class="modal-header">
  <button type="button" class="modal-btn-close clickable" aria-label="Close"
    (click)="activeModal.dismiss('')">X</button>
</div>

<div class="modal-body2">
  @if(promoData?.mediaUrl){
  <div class="text-center">
    <img onerror="this.src = 'assets/images/default-blank-image.png'" [src]="promoData?.mediaUrl" style="max-height:80vh; width:100%; object-fit: contain;">
  </div>
  }
<div style="padding:18px;">
  
  @if(promoData?.title){
  <h4 class="text-center" style="margin-bottom:12px !important;">
    <b>{{promoData?.title | translate}}</b>
  </h4>
  }
  @if(promoData?.subtitle){
  <h6 class="text-center text-gray">
    {{promoData?.subtitle | translate}}
  </h6>
  }
</div>

</div>


}