@import url('../../../../../assets/css/demo2.min.css');

.section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Make sure it's above the image but below the text */
}

.section-text {
  position: relative;
  z-index: 2 !important;
}

.section-content {
  position: relative !important;
  background-repeat: no-repeat !important; /* Specify no-repeat */
  background-position: center center !important; /* Center the background */
  background-size: cover !important; /* Ensure it covers the element */
}

.a .button .btn{
  background: white !important;
  background-color: white !important;
  border-color: transparent !important;
  color:black !important;
  transform: scale(1.033); 
} 
.category-name{
  background: white !important;
  background-color: white !important;
  border-color: transparent !important;
  color:black !important;
  transform: scale(1.033); 
}

.a,.button,.btn:hover{
  background: var(--primary-color) !important;
  background-color: var(--primary-color) !important;
  border-color: transparent !important;
  color:white !important;
  transform: scale(1.033); 
}

.category-name:hover{
  background: var(--primary-color) !important;
  background-color: var(--primary-color) !important;
  border-color: transparent !important;
  color:white !important;
  transform: scale(1.033); 
}