@if (companyData.themeSettings.template?.header?.style == 'Style 2') {
  <app-header-style2
    [companyData]="companyData"
    [invoiceData]="invoiceData"
    [userData]="userData"
    [currencies]="currencies"
    [currentCurrency]="currentCurrency"
    [selectedCurrencySymbol]="selectedCurrencySymbol"
    [searchQuery]="searchQuery"
    [filteredResults]="filteredResults"
    [showSuggestions]="showSuggestions"
    [isMobileSearchShown]="isMobileSearchShown"
    [languages]="languages"
    [removingLineIds]="removingLineIds"
    [isHeaderOverlay]="isHeaderOverlay()"
    [isHomeActive]="isHomeActive()"
    [showTopHeader]="isShowTopHeader()"
    [searchHistory]="searchHistory"
    (currencySelected)="onCurrencySelected($event)"
    (languageSelected)="onLanguageSelected($event)"
    (searchQueryChange)="searchQuery = $event"
    (searchInputChange)="onSearchInput()"
    (searchSubmit)="searchProducts()"
    (suggestionSelected)="selectSuggestion($event)"
    (mobileSearchOpen)="showMobileSearch(true)"
    (mobileSearchClose)="closeMobileSearch(); toggleSearchState()"
    (cartOpen)="openCartDropdown()"
    (cartClose)="closeCartDropdown()"
    (cartRemove)="removeItem($event)"
    (wishlistOpen)="openWishlistDropdown()"
    (wishlistClose)="closeWishlistDropdown()"
    (wishlistRemove)="removeItemFromWishlist($event)"
    (loginOpen)="openLoginPop()"
    (accountNav)="goToAccount()"
    (logoutClick)="logout()"
    (mobileMenuOpen)="openMobileMenu()"
    (homeNav)="appService.gotoPage('/')"
    (pageNav)="appService.gotoPage($event)"
    (historySelected)="onHistorySelected($event)"
    (historyRemoved)="removeFromHistory($event)"
    (historyClear)="clearAllHistory()"
  />
} @else {
  <app-header-style1
    [companyData]="companyData"
    [invoiceData]="invoiceData"
    [userData]="userData"
    [currencies]="currencies"
    [currentCurrency]="currentCurrency"
    [selectedCurrencySymbol]="selectedCurrencySymbol"
    [searchQuery]="searchQuery"
    [filteredResults]="filteredResults"
    [showSuggestions]="showSuggestions"
    [isMobileSearchShown]="isMobileSearchShown"
    [languages]="languages"
    [removingLineIds]="removingLineIds"
    [isHeaderOverlay]="isHeaderOverlay()"
    [isHomeActive]="isHomeActive()"
    [showTopHeader]="isShowTopHeader()"
    [searchHistory]="searchHistory"
    (currencySelected)="onCurrencySelected($event)"
    (languageSelected)="onLanguageSelected($event)"
    (searchQueryChange)="searchQuery = $event"
    (searchInputChange)="onSearchInput()"
    (searchSubmit)="searchProducts()"
    (suggestionSelected)="selectSuggestion($event)"
    (mobileSearchOpen)="showMobileSearch(true)"
    (mobileSearchClose)="closeMobileSearch(); toggleSearchState()"
    (cartOpen)="openCartDropdown()"
    (cartClose)="closeCartDropdown()"
    (cartRemove)="removeItem($event)"
    (wishlistOpen)="openWishlistDropdown()"
    (wishlistClose)="closeWishlistDropdown()"
    (wishlistRemove)="removeItemFromWishlist($event)"
    (loginOpen)="openLoginPop()"
    (accountNav)="goToAccount()"
    (logoutClick)="logout()"
    (mobileMenuOpen)="openMobileMenu()"
    (homeNav)="appService.gotoPage('/')"
    (pageNav)="appService.gotoPage($event)"
    (historySelected)="onHistorySelected($event)"
    (historyRemoved)="removeFromHistory($event)"
    (historyClear)="clearAllHistory()"
  />
}