.loading-overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: rgba(0, 0, 0, 0.5) !important; /* Semi-transparent background */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 99999 !important; /* or any high value */
}

.spinner {
  color: white !important;
  font-size: 24px !important;
}

.no-scroll {
  overflow: hidden !important; /* Prevent scrolling */
  height: 100% !important; /* Ensure full height */
}