@if (companyData) {
<div class="bg">
  <div class="text-center pt-4 pb-4 ">
    <div style="min-height:50px;">

      <img onerror="this.src='/assets/images/invo.png'" class="logo-image"
        src="{{companyData.themeSettings.template?.header?.logo?.defaultUrl || companyData.defaultUrl}}"
        style="height:105px; object-fit: contain;">
    </div>

    <app-feedback-compo [showContainer]="true" [feedbackData]="feedbackData"></app-feedback-compo>

    <div class="pt-2 pb-2 text-uppercase">
      <br>
      <a href="http://invopos.com" target="_blank">{{"Powered by invo" | translate}}</a>
      <p><small>{{appService.appVersion}}</small></p>
    </div>

    <!-- Button added here -->
    <div style="position: absolute; top: 24px; right: 24px;">
      <a class="btn btn-link btn-primary"
        (click)="appService.lang == 'ar' ? onLanguageSelected('en') : onLanguageSelected('ar')">
        {{ appService.lang == 'ar' ? 'Eng' : 'عربي' }}
      </a>
    </div>

  </div>
</div>
}