<div class="section-content pt-10 pb-10 appear-animatee" data-animation-options="{
  'name': 'fadeIn',
  'delay': '.7s'
  }" [style.min-height]="section.sectionHeight == 'Full' ? 'calc(100vh - 95px)' : ''"
  [style.background]="getBackground()"
  [style.background-attachment]="section.sectionBackground.isParallax ? 'fixed' : ''"
  [style.background-size]="section.sectionBackground.style == 'Image' ? 'cover' : ''"
  [style.background-position]="section.sectionBackground.style == 'Image' ? 'center' : ''"
  [style.background-repeat]="section.sectionBackground.style == 'Image' ? 'no-repeat' : ''"
  [style.display]="section.sectionHeight == 'Full' ? 'flex' : ''"
  [style.flex-direction]="section.sectionHeight == 'Full' ? 'column' : ''"
  [style.justify-content]="section.sectionHeight == 'Full' ? 'center' : ''"
  [style.align-items]="section.sectionHeight == 'Full' ? 'center' : ''"
  [style.margin]="(section.marginVertical || 0) + 'px ' + (section.marginHorizontal || 0) + 'px'"
  [style.padding]="(section.paddingVertical || 0) + 'px ' + (section.paddingHorizontal || 0) + 'px'">
  @if(section != null && section.sectionBackground != null){
  <div class="section-overlay" [style.opacity]="section.sectionBackground.overlayOpacity / 100"
    [style.background-color]="section.sectionBackground.overlayColor"></div>
  }
  <div class="section-text">
    <div [class]="themeBuilder?.layout?.width == 'Full' ? 'me-2 ms-2' : 'container'">
      <section class="home categories">
        <h2 class="title title-simple text-center" [style.color]="section.sectionData.titleColor">
          {{appService.lang == 'ar' ? section.sectionData?.translation?.ar?.title || section.sectionData?.title : section.sectionData?.title}}
        </h2>
        <owl-carousel-o [options]="customOptions">
          @for (category of section.sectionData.categories; track $index) {
          <ng-template carouselSlide>
            <div>
              <div class="category category-absolute category-classic appear-animatee p-0" data-animation-options="{
                  'name': 'fadeInUpShorter',
                  'delay': '.7s'
                  }">
                <a href="javascript:void(0);" (click)="gotoShop(category)">
                  <figure class="category-media">
                    <img onerror="this.src = 'assets/images/default-blank-image.png'" [src]="category.mediaUrl?.defaultUrl || '/assets/images/default-blank-image.png'"
                      style="width:100%; height:300px; object-fit: cover; object-position: center;" />
                  </figure>
                </a>
                <div class="category-content" (click)="gotoShop(category)">
                  <h4 class="category-name">{{appService.lang == 'ar' ? category?.translation?.name?.ar || category?.name : category?.translation?.name?.en || category?.name}}</h4>
                  <!-- <span class="category-count">
                    2 Products
                  </span> -->
                </div>
              </div>
            </div>
          </ng-template>
          }
        </owl-carousel-o>
      </section>
    </div>
  </div>
</div>