@defer (on idle) {
<map></map>
}
<app-loading />

@if (showNoConnection ) {
<app-no-connection [errData]="companyLoadErr"></app-no-connection>
}@else {
@if (loading ) {
}
@else {
@if(!this.isBlankPage){

@if (isHomePage()) {

<!-- @if(showIOSMsg) {
<div class="iosMsg">
  <span>To receive notifications you need to install our app on your iPhone: Tap</span>
  <img src="../assets/images/share.png" style="display: inline;"><span> {{"then Add to homescreen" | translate}} </span>
  <img src="../assets/images/more.png" style="display: inline;" class="add-outline">
  <a class="close" (click)="closeIosMsg()" href="javascript:void(0)"><span> {{"Close" | translate}} </span></a>
</div>
} -->
}
}
@if(!this.isBlankPage){
<app-header />
}

<div class="page-wrapper-">

  <div class="page-content" #contentRef>
    <!-- <app-alert  (activate)="onActivate($event)" /> -->
    <router-outlet>
    </router-outlet>
    @if(!this.isBlankPage){
    <div style="height:80px" class="d-md-none d-lg-none d-xl-none"></div>
    }
  </div>

  @if(!this.isBlankPage){
  <app-footer class="d-md-show" />
  @if(companyData && companyData.mobileIconBar){
  <div
    class="mobile-icon-bar fixed bottom-0 left-0 right-0 bg-white animate-from-bottom border-t border-gray-200 px-4 py-2 z-50">
    <div class="flex justify-between items-center w-full">
      @for(item of companyData.mobileIconBar?.template?.list; track $index){

      @if(item.slug == 'toggleMenu' && item.enabled){
      <button (click)="openMobileMenu($event)"
        class="flex flex-col items-center py-2 px-1 rounded-lg transition-all duration-200 text-gray-500"
        [class]="!isActive(item.slug) ? 'hover:text-gray-700 hover:bg-gray-50' : 'active'">
        @if(item.icon){
        <div [innerHTML]="sanitizeIcon(item.icon)"></div>
        }
        @else {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-menu w-5 h-5 mb-1 transition-transform">
          <line x1="4" x2="20" y1="6" y2="6"></line>
          <line x1="4" x2="20" y1="12" y2="12"></line>
          <line x1="4" x2="20" y1="18" y2="18"></line>
        </svg>
        }
        <span class="text-xs font-medium">{{item.translation?.title?.[currentLang() || 'en'] ||
          item.name}}</span>
      </button>
      }
      @if(item.slug == 'compare' && item.enabled){
      <button (click)="scrollTop(null)" routerLink="compare"
        class="flex flex-col items-center py-2 px-1 rounded-lg transition-all duration-200 text-gray-500"
        [class]="!isActive(item.slug) ? 'hover:text-gray-700 hover:bg-gray-50' : 'active'">
        @if(item.icon){
        <div [innerHTML]="sanitizeIcon(item.icon)"></div>
        }
        @else {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-git-compare w-5 h-5 mb-1 transition-transform">
          <circle cx="6" cy="6" r="3"></circle>
          <path d="M6 9v12"></path>
          <circle cx="18" cy="18" r="3"></circle>
          <path d="M18 15V3"></path>
        </svg>
        }
        <span class="text-xs font-medium">{{item.translation?.title?.[currentLang() || 'en'] ||
          item.name}}</span>
      </button>
      }
      @if(item.slug == 'search' && item.enabled){
      <button (click)="showSearchProducts()"
        class="flex flex-col items-center py-2 px-3 rounded-lg transition-all duration-200 text-gray-500"
        [class]="!isActive(item.slug) ? 'hover:text-gray-700 hover:bg-gray-50' : 'active'">
        @if(item.icon){
        <div [innerHTML]="sanitizeIcon(item.icon)"></div>
        }
        @else {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-search w-5 h-5 mb-1 transition-transform">
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.35-4.35"></path>
        </svg>
        }
        <span class="text-xs font-medium">{{item.translation?.title?.[currentLang() || 'en'] ||
          item.name}}</span>
      </button>
      }
      @if(item.slug == 'toTop' && item.enabled){
      <button (click)="scrollTop('smooth')"
        class="flex flex-col items-center py-2 px-3 rounded-lg transition-all duration-200 text-gray-500"
        [class]="!isActive(item.slug) ? 'hover:text-gray-700 hover:bg-gray-50' : 'active'">
        @if(item.icon){
        <div [innerHTML]="sanitizeIcon(item.icon)"></div>
        }
        @else {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-arrow-up w-5 h-5 mb-1 transition-transform">
          <path d="m5 12 7-7 7 7"></path>
          <path d="M12 19V5"></path>
        </svg>
        }
        <span class="text-xs font-medium">{{item.translation?.title?.[currentLang() || 'en'] ||
          item.name}}</span>
      </button>
      }
      @if(item.slug == '/' && item.enabled){
      <button (click)="scrollTop(null)" routerLink="/"
        class="flex flex-col items-center py-2 px-3 rounded-lg transition-all duration-200 text-gray-500"
        [class]="!isActive('/') ? 'hover:text-gray-700 hover:bg-gray-50' : 'active'">
        @if(item.icon){
        <div [innerHTML]="sanitizeIcon(item.icon)"></div>
        }
        @else {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-home w-5 h-5 mb-1  transition-transform">
          <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
          <polyline points="9 22 9 12 15 12 15 22"></polyline>
        </svg>
        }
        <span class="text-xs font-medium">{{item.translation?.title?.[currentLang() || 'en'] ||
          item.name}}</span>
      </button>

      }
      @if(item.slug == 'cart' && item.enabled && !appService.viewOnly){
      <button (click)="openCartDropdown()"
        class="flex flex-col items-center position-relative py-2 px-3 rounded-lg transition-all duration-200 text-gray-500 hover:text-gray-700 hover:bg-gray-50">
        @if(item.icon){
        <div [innerHTML]="sanitizeIcon(item.icon)"></div>
        }
        @else {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-shopping-cart w-5 h-5 mb-1  transition-transform">
          <circle cx="8" cy="21" r="1"></circle>
          <circle cx="19" cy="21" r="1"></circle>
          <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"></path>
        </svg>
        }
        @if(invoiceData && invoiceData.lines){
        <span [class.bounce]="isBouncing" class="cart-count">{{invoiceData.lines.length}}</span>
        }
        <span class="text-xs font-medium">{{item.translation?.title?.[currentLang() || 'en'] ||
          item.name}}</span>
      </button>

      }
      @if(item.slug == 'wishlist' && item.enabled){
      <button (click)="scrollTop(null)" routerLink="wishlist"
        class="flex flex-col items-center py-2 px-3 rounded-lg transition-all duration-200 text-gray-500"
        [class]="!isActive('wishlist') ? 'hover:text-gray-700 hover:bg-gray-50' : 'active'">
        @if(item.icon){
        <div [innerHTML]="sanitizeIcon(item.icon)"></div>
        }
        @else {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="w-5 h-5 mb-1 scale-110 transition-transform">
          <path d="m19 14 1.5-1.5c2-2 2-5 0-7s-5-2-7 0l-1.5 1.5L10.5 5.5c-2-2-5-2-7 0s-2 5 0 7L5 14l7 7 7-7z"></path>
        </svg>
        }
        @if(getWishlist().length){
        <span class="wishlist-count">{{getWishlist().length}}</span>
        }
        <span class="text-xs font-medium">{{item.translation?.title?.[currentLang() || 'en'] ||
          item.name}}</span>
      </button>

      }
      @if(item.slug == 'categories' && item.enabled){
      <button (click)="scrollTop(null)" routerLink="/categories"
        class="flex flex-col items-center py-2 px-3 rounded-lg transition-all duration-200 text-gray-500"
        [class]="!isActive('categories') ? 'hover:text-gray-700 hover:bg-gray-50' : 'active'">
        @if(item.icon){
        <div [innerHTML]="sanitizeIcon(item.icon)"></div>
        }
        @else {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="w-5 h-5 mb-1 transition-transform">
          <rect width="7" height="7" x="3" y="3" rx="1"></rect>
          <rect width="7" height="7" x="14" y="3" rx="1"></rect>
          <rect width="7" height="7" x="14" y="14" rx="1"></rect>
          <rect width="7" height="7" x="3" y="14" rx="1"></rect>
        </svg>
        }
        <span class="text-xs font-medium">{{item.translation?.title?.[currentLang() || 'en'] ||
          item.name}}</span>
      </button>

      }
      @if(item.slug == 'account' && item.enabled){
      <button (click)="openLogin()" class="flex flex-col items-center py-2 px-3 rounded-lg transition-all duration-200">
        @if(item.icon){
        <div [innerHTML]="sanitizeIcon(item.icon)"></div>
        }
        @else {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-user w-5 h-5 mb-1 scale-110 transition-transform">
          <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
        }
        <span class="text-xs font-medium">{{item.translation?.title?.[currentLang() || 'en'] ||
          item.name}}</span>
      </button>
      }
      @if(item.slug == 'menu' && item.enabled){
      <button (click)="scrollTop(null)" routerLink="/menu" [class.active]="isActive('menu')"
        class="flex flex-col items-center py-2 px-3 rounded-lg transition-all duration-200 text-gray-500"
        [class]="!isActive('menu') ? 'hover:text-gray-700 hover:bg-gray-50' : 'active'">
        @if(item.icon){
        <div [innerHTML]="sanitizeIcon(item.icon)"></div>
        }
        @else {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="w-5 h5 mb-1 scale-110 transition-transform">
          <path d="M3 2v7c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2V2"></path>
          <path d="M7 2v20"></path>
          <path d="M21 15V2a5 5 0 0 0-5 5v6c0 1.1.9 2 2 2h3Zm0 0v7"></path>
        </svg>
        }
        <span class="text-xs font-medium">{{item.translation?.title?.[currentLang() || 'en'] || item.name}}</span>
      </button>

      }
      @if(item.slug == 'shop' && item.enabled){
      <button (click)="scrollTop(null)" routerLink="/shop"
        class="flex flex-col items-center py-2 px-3 rounded-lg transition-all duration-200 text-gray-500"
        [class]="!isActive('shop') ? 'hover:text-gray-700 hover:bg-gray-50' : 'active'">
        @if(item.icon){
        <div [innerHTML]="sanitizeIcon(item.icon)"></div>
        }
        @else {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="w-5 h5 mb-1 scale-110 transition-transform">
          <path d="M12 2 2 7l10 5 10-5-10-5Z"></path>
          <path d="m2 17 10 5 10-5"></path>
          <path d="m2 12 10 5 10-5"></path>
        </svg>
        }
        <span class="text-xs font-medium">{{item.translation?.title?.[currentLang() || 'en'] ||
          item.name}}</span>
      </button>

      }
      @if(item.slug == 'appointments' && item.enabled){
      <button (click)="scrollTop(null)" routerLink="/appointments"
        class="flex flex-col items-center py-2 px-3 rounded-lg transition-all duration-200 text-gray-500"
        [class]="!isActive('appointments') ? 'hover:text-gray-700 hover:bg-gray-50' : 'active'">
        @if(item.icon){
        <div [innerHTML]="sanitizeIcon(item.icon)"></div>
        }
        @else {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-calendar w-5 h-5 mb-1  transition-transform">
          <path d="M8 2v4"></path>
          <path d="M16 2v4"></path>
          <rect width="18" height="18" x="3" y="4" rx="2"></rect>
          <path d="M3 10h18"></path>
        </svg>
        }
        <span class="text-xs font-medium">{{item.translation?.title?.[currentLang() || 'en'] ||
          item.name}}</span>
      </button>

      }
      @if(item.slug == 'my-orders' && item.enabled){
      <button (click)="scrollTop(null)" routerLink="/my-orders"
        class="flex flex-col items-center py-2 px-3 rounded-lg transition-all duration-200 text-gray-500"
        [class]="!isActive('my-orders') ? 'hover:text-gray-700 hover:bg-gray-50' : 'active'">

        @if(item.icon){
        <div [innerHTML]="sanitizeIcon(item.icon)"></div>
        }
        @else {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-shopping-bag w-5 h-5 mb-1  transition-transform">
          <path d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4Z"></path>
          <path d="M3 6h18"></path>
          <path d="M16 10a4 4 0 0 1-8 0"></path>
        </svg>
        }
        <span class="text-xs font-medium">{{item.translation?.title?.[currentLang() || 'en'] ||
          item.name}}</span>
      </button>

      }

      }
    </div>
  </div>
  }

  <!-- Scroll Top -->
  <a id="scroll-top" href="javascript:void(0);" title="Top" role="button" class="scroll-top"
    (click)="scrollTop('smooth')">
    <i class="d-icon-arrow-up"></i>
  </a>

  <!-- MobileMenu -->
  <div class="mobile-menu-wrapper">
    <div class="mobile-menu-overlay" (click)="closeMobileMenu()">
    </div>
    <!-- End of Overlay -->
    <a class="mobile-menu-close" (click)="closeMobileMenu()"><i class="d-icon-times"></i></a>
    <!-- End of CloseButton -->
    <div class="mobile-menu-container pt-4" style="height:100vh !important; overflow: hidden;">
      @if(userData?.id){
      <div class="pl-2 pr-2 pb-2 mb-4 clickable" style="display: flex; align-items: center;"
        (click)="closeMobileMenu(); goToAccount()">
        <a class="text-light" href="javascript:void(0);">
          <img src="/assets/images/default-user-image.png" alt="User Image"
            style="width: 40px; height: 40px; margin-right: 8px; margin-bottom:6px;">
          {{userData?.name}}
        </a>
      </div>
      }
      @if(!userData?.id){
      <div class="pl-2 pr-2 pb-2 mb-4 clickable" style="display: flex; align-items: center;"
        (click)="closeMobileMenu(); openLoginPop()">
        <a class="text-light" href="javascript:void(0);">
          <img src="/assets/images/default-user-image.png" alt="User Image"
            style="width: 40px; height: 40px; margin-right: 8px; margin-bottom:6px;">
          Guest
        </a>
      </div>
      }
      <ul class="mobile-menu mmenu-anim" style="height: 80vh; overflow-y: auto;">
        <!-- @if(showHomeAsDefault()){ -->
        <li>
          <a href="javascript:void(0);" (click)="closeMobileMenu(); appService.gotoPage('/')">{{"Home" | translate}}</a>
        </li>
        <!-- } -->

        @for(item of this.companyData.menuSettings?.primaryMenu[0]?.template?.groupedList; track $index){
        @if(item.type == 'mega' && item.name){
        <li class="submenu">
          <a href="javascript:void(0);"
            (click)="item.isOpen ? item.isOpen = false : item.isOpen = true">{{(appService.lang == 'ar' ?
            item.translation?.ar?.name ? item.translation?.ar?.name : item.translation?.en?.name ? item.translation?.en?.name : item.name : item.name) |
            translate}}</a>
          <ul [class]="item.isOpen ? 'display-block' : 'display-none'">
            @for(subItem of item.megaColumns; track $index){
            @if(subItem.items){
            <li class="submenu">
              <a href="javascript:void(0);"
                (click)="subItem.isOpen ? subItem.isOpen = false : subItem.isOpen = true">{{((appService.lang == 'ar' ? subItem.translation?.ar?.title ? subItem.translation?.ar?.title : subItem.translation?.en?.title ? subItem.translation?.en?.title :subItem.title  :subItem.title) || '-') |
                translate}}</a>
              <ul [class]="subItem.isOpen ? 'display-block' : 'display-none'">
                @for(subItem2 of subItem.items; track $index){
                @if(subItem2.type=='image'){

                <li>
                  <!-- <img [src]="subItem2.mediaUrl.defaultUrl" style="height:125px; object-fit: contain;" /> -->
                </li>
                }@else{
                <li>
                  <a href="javascript:void(0);"
                    (click)="closeMobileMenu(); appService.gotoPage(subItem2)">{{(appService.lang == 'ar' ? subItem2.translation?.ar?.name ? subItem2.translation?.ar?.name : subItem2.translation?.en?.name ? subItem2.translation?.en?.name : subItem2.name : subItem2.name) |
                    translate}}</a>
                </li>
                }
                }
              </ul>
            </li>
            }
            }
          </ul>
        </li>
        }
        @else{
        @if(item.children){
        <li class="submenu">
          <a href="javascript:void(0);" (click)="item.isOpen ? item.isOpen = false : item.isOpen = true">{{appService.lang == 'ar' ? item.translation?.ar?.name ? item.translation?.ar?.name : item.translation?.en?.name ? item.translation?.en?.name : item.name : item.name |
            translate}}</a>
          <ul [class]="item.isOpen ? 'display-block' : 'display-none'">
            @for(subItem of item.children; track $index){
            @if(subItem.children){
            <li class="submenu">
              <a href="javascript:void(0);"
                (click)="subItem.isOpen ? subItem.isOpen = false : subItem.isOpen = true">{{(appService.lang == 'ar' ? subItem.translation?.ar?.name ? subItem.translation?.ar?.name : subItem.translation?.en?.name ? subItem.translation?.en?.name : subItem.name : subItem.name) |
                translate}}</a>
              <ul [class]="subItem.isOpen ? 'display-block' : 'display-none'">
                @for(subItem2 of subItem.children; track $index){
                <li>
                  <a href="javascript:void(0);"
                    (click)="closeMobileMenu(); appService.gotoPage(subItem2)">{{(appService.lang == 'ar' ? subItem2.translation?.ar?.name ? subItem2.translation?.ar?.name : subItem2.translation?.en?.name ? subItem2.translation?.en?.name : subItem2.name : subItem2.name) |
                    translate}}</a>
                </li>
                }
              </ul>
            </li>
            }
            @else{
            <li>
              <a href="javascript:void(0);" (click)="closeMobileMenu(); appService.gotoPage(subItem)">{{(appService.lang == 'ar' ? subItem.translation?.ar?.name ? subItem.translation?.ar?.name : subItem.translation?.en?.name ? subItem.translation?.en?.name : subItem.name : subItem.name) |
                translate}}</a>
            </li>
            }
            }
          </ul>
        </li>
        }
        @else{
        <li>
          <a href="javascript:void(0);" (click)="closeMobileMenu(); appService.gotoPage(item)">{{(appService.lang == 'ar' ? item.translation?.ar?.name ? item.translation?.ar?.name : item.translation?.en?.name ? item.translation?.en?.name : item.name : item.name) |
            translate}}</a>
        </li>
        }
        }
        }


        @if(userData?.id){
        <li>
          <a href="javascript:void(0);" (click)="closeMobileMenu(); logout()">{{"Logout" | translate}}</a>
        </li>
        }
        @if(
        companyData.themeSettings.template?.socialmedia?.facebook ||
        companyData.themeSettings.template?.socialmedia?.twitter ||
        companyData.themeSettings.template?.socialmedia?.instagram ||
        companyData.themeSettings.template?.socialmedia?.linkedin ||
        companyData.themeSettings.template?.socialmedia?.youtube ||
        companyData.themeSettings.template?.socialmedia?.pinterest ||
        companyData.themeSettings.template?.socialmedia?.tiktok ||
        companyData.themeSettings.template?.socialmedia?.whatsapp ||
        companyData.themeSettings.template?.socialmedia?.snapchat ||
        companyData.themeSettings.template?.socialmedia?.tumblr ||
        companyData.themeSettings.template?.socialmedia?.vimeo ||
        companyData.themeSettings.template?.contactInformation?.phone
        ){
        <br>
        <br>
        <li class="text-primary">
          <div class="social-links">
            @if(companyData.themeSettings?.template?.socialmedia?.pinterest){
            <a target="_blank" [href]="companyData.themeSettings?.template?.socialmedia?.pinterest"
              class="social-pinterest fab fa-pinterest text-white"></a>
            }
            @if(companyData.themeSettings?.template?.socialmedia?.whatsapp){
            <a target="_blank" [href]="'https://wa.me/'+companyData.themeSettings?.template?.socialmedia?.whatsapp"
              class="social-whatsapp fab fa-whatsapp text-white"></a>
            }
            @if(companyData.themeSettings?.template?.socialmedia?.youtube){
            <a target="_blank" [href]="companyData.themeSettings?.template?.socialmedia?.youtube"
              class="social-youtube fab fa-youtube text-white"></a>
            }
            @if(companyData.themeSettings?.template?.socialmedia?.instagram){
            <a target="_blank" [href]="companyData.themeSettings?.template?.socialmedia?.instagram"
              class="social-instagram fab fa-instagram text-white"></a>
            }
            @if(companyData.themeSettings?.template?.socialmedia?.snapchat){
            <a target="_blank" [href]="companyData.themeSettings?.template?.socialmedia?.snapchat"
              class="social-snapchat fab fa-snapchat text-white"></a>
            }
            @if(companyData.themeSettings?.template?.socialmedia?.facebook){
            <a target="_blank" [href]="companyData.themeSettings?.template?.socialmedia?.facebook"
              class="social-facebook fab fa-facebook-f text-white"></a>
            }
            @if(companyData.themeSettings?.template?.socialmedia?.twitter){
            <a target="_blank" [href]="companyData.themeSettings?.template?.socialmedia?.twitter"
              class="social-twitter fab fa-twitter  text-white"></a>
            }
            @if(companyData.themeSettings?.template?.socialmedia?.linkedin){
            <a target="_blank" [href]="companyData.themeSettings?.template?.socialmedia?.linkedin"
              class="social-linkedIn fab fa-linkedin-in text-white"></a>
            }
            @if(companyData.themeSettings?.template?.socialmedia?.tiktok){
            <a target="_blank" [href]="companyData.themeSettings?.template?.socialmedia?.tiktok">
              <img src="https://cdn-icons-png.flaticon.com/128/15059/15059942.png"
                style="width:16px; height:16px; margin-top:-2px">
            </a>
            }
            @if(companyData.themeSettings?.template?.socialmedia?.tumblr){
            <a target="_blank" [href]="companyData.themeSettings?.template?.socialmedia?.tumblr"
              class="social-tumblr fab fa-tumblr text-white"></a>
            }
            @if(companyData.themeSettings?.template?.socialmedia?.vimeo){
            <a target="_blank" [href]="companyData.themeSettings?.template?.socialmedia?.vimeo"
              class="social-tumblr fab fa-vimeo text-white"></a>
            }
          </div>
          @if (companyData.themeSettings?.template?.contactInformation?.phone) {
          <div>
            <a class=" text-light" [href]="'tel:'+companyData.themeSettings?.template?.contactInformation?.phone">
              <i class="fas fa-phone mr-1" style="font-size: 11px;"></i>
              {{companyData.themeSettings?.template?.contactInformation?.phone}}
            </a>
          </div>
          }
        </li>
        }
        <br>
        <br>
      </ul>

      <div class="text-uppercase pt-2"
        style="width:100%; position: absolute; height:120px; bottom: 0; left: 50%; transform: translateX(-50%); text-align: center; background:#222529; color:gray">
        <a href="http://invopos.com" target="_blank">{{"Powered by invo" | translate}}</a>
        <p><small>{{appService.appVersion}}</small></p>
      </div>
    </div>
  </div>
  }
</div>
}
}

@if(!isBlankPage && !showNoConnection){
<app-toolbar-buttons></app-toolbar-buttons>
}