@if(style =='Style 1'){
  <app-banner-style1 [section]="section" [background]="background" [youtubeEmbedUrl]="youtubeEmbedUrl" />
}
@else if(style =='Style 2'){
  <app-banner-style2 [section]="section" [background]="background" [youtubeEmbedUrl]="youtubeEmbedUrl" />
}
@else if(style =='Style 3'){
  <app-banner-style3 [section]="section" [background]="background" [youtubeEmbedUrl]="youtubeEmbedUrl" />
}
@else if(style =='Style 4'){
  <app-banner-style4 [section]="section" [background]="background" [youtubeEmbedUrl]="youtubeEmbedUrl" />
}
@else if(style =='Style 5'){
  <app-banner-style5 [section]="section" [background]="background" [youtubeEmbedUrl]="youtubeEmbedUrl" />
}
@else if(style =='Style 6'){
  <app-banner-style6 [section]="section" [background]="background" [youtubeEmbedUrl]="youtubeEmbedUrl" />
}
@else if(style =='Style 7'){
  <app-banner-style7 [section]="section" [background]="background" [youtubeEmbedUrl]="youtubeEmbedUrl" />
}
@else if(style =='Style 8'){
  <app-banner-style8 [section]="section" [background]="background" [youtubeEmbedUrl]="youtubeEmbedUrl" />
}
