<nav class="toolbox toolbox-pagination">
  <p class="show-info" [dir]="appService.lang == 'ar' ? 'rtl' : 'ltr'">{{"Showing" | translate}}
    {{startIndex}}<span>{{"of" | translate}}</span> {{lastIndex}} {{"Products" | translate}}</p>
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link page-link-prev" href="javascript:void(0);" aria-label="Previous"
        [attr.tabindex]="currentPage === 1 ? -1 : 0" [attr.aria-disabled]="currentPage === 1"
        (click)="changePage(currentPage - 1)">
        <i class="d-icon-arrow-left"></i>{{"Prev" | translate}}
      </a>
    </li>

    <!-- Page Numbers -->
    <ng-container>
      @for(page of pages; track $index) {
      <li class="page-item" [class.active]="page === currentPage"  [class.dots]="page === '...'">
        @if(page !== '...') {
        <a class="page-link" href="javascript:void(0);" (click)="page != currentPage ? changePage(+page) : null">
          {{ page }}
        </a>
        } @else {
        <a>
          {{ page }}
        </a>
        }
        <ng-template #dotsTemplate>
          <span class="page-link">{{ page }}</span>
        </ng-template>
      </li>
      }

    </ng-container>
    <!-- <li class="page-item" [class.disabled]="currentPage === (totalPages) ">
      <a class="page-link page-link-next" href="javascript:void(0);" aria-label="Next"
        (click)="changePage(currentPage + 1)">
        Next<i class="d-icon-arrow-right"></i>
      </a>
    </li> -->
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link page-link-next" href="javascript:void(0);" aria-label="Next"
        [attr.tabindex]="currentPage === totalPages ? -1 : 0" (click)="changePage(currentPage + 1)">
        {{"Next" | translate}}<i class="d-icon-arrow-right"></i>
      </a>
    </li>
  </ul>
</nav>