<div class="tiers-grid" [dir]="appService.lang === 'ar' ? 'rtl' : 'ltr'">
    <div class="tier-card" *ngFor="let tier of tiers; let i = index" [ngClass]="{
         'current': i === currentIndex,
         'unlocked': unlockedIndices.includes(i) && i !== currentIndex
       }" [dir]="appService.lang === 'ar' ? 'rtl' : 'ltr'">

        <div class="tier-card-header">
            <h3 class="tier-name">{{
                translate(
                tier.name,
                appService.lang
                )}}
            </h3>

            @if(i === currentIndex){
            <span class="tier-current-badge">Current</span>}
             @if(unlockedIndices.includes(i) && i !== currentIndex){
            <span>✔️</span>}
            @if(!unlockedIndices.includes(i)){
            <span>🔒</span>}
        </div>

        <div class="tier-requirements">
            {{ "PROMOTIONS.SPEND" | translate }}: ${{ tier.minAmountSpend }}+<br>
            {{ "PROMOTIONS.PURCHASES" | translate }}: {{ tier.minNumberOfOrders }}+
        </div>

        <ul class="tier-benefits">
            <li *ngFor="let campaign of campaign"
                [ngClass]="{ 'unlocked': unlockedIndices.includes(i), 'locked': !unlockedIndices.includes(i) }">
                ✔️ {{translate(campaign.campaignsName,appService.lang)}}, {{ "PROMOTIONS.GIVEN_DATE" | translate }}: {{campaign.createdDate | date : "dd/MM/yyyy"}} ,{{ "PROMOTIONS.END_DATE" | translate }}: {{campaign.endDate | date : "dd/MM/yyyy"}} ,{{ "PROMOTIONS.START_PERIOD" | translate }}:{{campaign.activePeriod.value}} {{"PROMOTIONS."+campaign.activePeriod.periodUnit| translate}} , {{ "PROMOTIONS.END_PERIOD" | translate }}: {{campaign.expiryPeriod.value}} {{"PROMOTIONS."+campaign.expiryPeriod.periodUnit| translate}}
               ,  {{ "PROMOTIONS.START_FROM" | translate }}:  @if(campaign.startFrom>0){{{ campaign.startFrom }}BD }  @if(campaign.startFrom==null || campaign.startFrom==0) {{{ "PROMOTIONS.ANY_AMOUNT" | translate }}}
            
            </li>
        </ul>
    </div>
</div>