@if(style =='Style 1'){
  <app-category-collection-style1
    [section]="section"
    [background]="background"
    (shopNav)="gotoShop($event)" />
}
@else if(style =='Style 2'){
  <app-category-collection-style2
    [section]="section"
    [background]="background"
    (shopNav)="gotoShop($event)" />
}
@else if(style =='Style 3'){
  <app-category-collection-style3
    [section]="section"
    [background]="background"
    (shopNav)="gotoShop($event)" />
}
@else if(style =='Style 4'){
  <app-category-collection-style4
    [section]="section"
    [background]="background"
    (shopNav)="gotoShop($event)" />
}
@else if(style =='Style 5'){
  <app-category-collection-style5
    [section]="section"
    [background]="background"
    (shopNav)="gotoShop($event)" />
}
