<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tier Status</title>
  <link rel="stylesheet">
</head>


<div class="container" [ngClass]="{
                  'text-right': appService.lang === 'ar',
                  'text-left': appService.lang !== 'ar'
                }" [dir]="appService.lang === 'ar' ? 'rtl' : 'ltr'">
  <h3>
    <i class="fa" [ngClass]="
          appService.lang === 'ar' ? 'fa-chevron-right' : 'fa-chevron-left'
        " aria-hidden="true" (click)="goBack()">
    </i>

    {{ "PROMOTIONS.CUSTOMER_TIERS" | translate }}
  </h3>


  <div class="tier-card">
    <app-customer-tier-details></app-customer-tier-details>
  </div>

  @if (tiers&&tiers?.customerTiers) {
  <app-tier-benefits [tiers]="tiers.customerTiers" [currentIndex]="currentIndex" [unlockedIndices]="unlockedIndices">
  </app-tier-benefits>}