<div class="price mb-1">
  @if(product.price > 0 && !product.showViewOptionButton() && !(product.productMinPrice>0 &&
  product.showViewOptionButton())) {
  @if(product.comparePriceAt > 0 || product.discountAmount > 0) {
  @if(product.discountAmount > 0) {
  <del class="mr-1">
    <span class="woocommerce-Price-amount amount">
      <bdi>
        {{ currentCurrency.symbol }}
        {{
        product.getConvertedProductPrice2(product.price + (
        companyData.isInclusiveTax ? 0 : product.calculateProductTax(
        product.price,
        product.productTaxes,
        companyData.isInclusiveTax
        )
        ),currentCurrency.rate, currentCurrency.afterDecimal)
        }}
      </bdi>
    </span>
  </del>
  <br>

    <span class="woocommerce-Price-amount amount">
      <bdi>
        {{ currentCurrency.symbol }}
        @if(product.discountPercentage) {
        {{ product.getConvertedProductPrice2(
        (product.price - (product.price * product.discountAmount / 100)) +
        (companyData.isInclusiveTax ? 0 : product.calculateProductTax(
        product.price - (product.price * product.discountAmount / 100),
        product.productTaxes,companyData.isInclusiveTax
        )), currentCurrency.rate, currentCurrency.afterDecimal) }}
        } @else {
        {{ product.getConvertedProductPrice2(
        (product.price - product.discountAmount) +
        (companyData.isInclusiveTax ? 0 : product.calculateProductTax(
        product.price - product.discountAmount,
        product.productTaxes,companyData.isInclusiveTax
        )), currentCurrency.rate, currentCurrency.afterDecimal) }}
        }
      </bdi>
    </span>

  } @else {
  <del class="mr-1">
    <span class="woocommerce-Price-amount amount">
      <bdi>
        {{ currentCurrency.symbol }}
        {{
        product.getConvertedProductPrice2(
        product.comparePriceAt + (companyData.isInclusiveTax ? 0 :
        product.calculateProductTax(product.comparePriceAt, product.productTaxes,companyData.isInclusiveTax))
        , currentCurrency.rate, currentCurrency.afterDecimal)
        }}
      </bdi>
    </span>
  </del>
  <br>
  <ins>
    <span class="woocommerce-Price-amount amount">
      <bdi>
        {{ currentCurrency.symbol }}
        {{ product.getConvertedProductPrice2(
        product.price + (companyData.isInclusiveTax ? 0 :
        product.calculateProductTax(product.price, product.productTaxes, companyData.isInclusiveTax))
        , currentCurrency.rate, currentCurrency.afterDecimal
        ) }}
      </bdi>
    </span>
  </ins>
  }
  } @else {

    <span class="woocommerce-Price-amount amount">

        {{ currentCurrency.symbol }} {{
        product.getConvertedProductPrice2(
        product.price + (companyData.isInclusiveTax ? 0 : product.calculateProductTax(product.price,
        product.productTaxes, companyData.isInclusiveTax))
        , currentCurrency.rate, currentCurrency.afterDecimal
        )
        }}

    </span>

  }
  } @else if(product.productMinPrice>0 && product.showViewOptionButton()){
  
    {{"Start from" | translate}}&nbsp;
    {{ currentCurrency.symbol }} {{
    product.getConvertedProductPrice2(
    product.productMinPrice + (companyData.isInclusiveTax ? 0 : product.calculateProductTax(product.productMinPrice,
    product.productTaxes, companyData.isInclusiveTax))
    , currentCurrency.rate, currentCurrency.afterDecimal
    )
    }}

  } @else {
  
    <small>{{"Price on Selection" | translate}}</small>

  }
</div>