     @if(walletSettings&&walletSettings.customerTiersSettings!.enabled&& tier && nextTier){
     <div   [ngClass]="{
          'text-right': appService.lang === 'ar',
          'text-left': appService.lang !== 'ar'
        }" [dir]="appService.lang === 'ar' ? 'rtl' : 'ltr'">
        <div class="row">
          <div class="">

            <div  [ngClass]="{
                'text-right': appService.lang === 'ar',
                'text-left': appService.lang !== 'ar'
              }" [dir]="appService.lang === 'ar' ? 'rtl' : 'ltr'">
              <div class="col">
                <div class="tier-info">
                  @if(tier?.name){
                  <span>
                    {{ translate(tier.name, appService.lang) }}
                  </span>}
                </div>

                <div class="progress-container">
                  <div class="progress-track">
                    <div class="progress-icon" [ngStyle]="{ left: (100 * (TierIndex / walletSettings.customerTiersSettings!.customerTiers.length)) + '%' }">
                      👑
                    </div>
                  </div>
                </div>

                <div class="upgrade-hint">
                  @if(walletSettings.customerTiersSettings!.useMinOrder){
                  <span>
                    {{
                    "PROMOTIONS.MORE_PURCHASE"
                    | translate : { count: numberOfRemanOrder }
                    }}
                  </span>}

                  @if(walletSettings.customerTiersSettings!.useMinOrder &&
                      walletSettings.customerTiersSettings!.useMinSpend){
                  <span>
                    {{ "PROMOTIONS." + conditionsType | translate }}
                  </span>
                }
                @if(walletSettings.customerTiersSettings!.useMinSpend){

                  <span >
                    {{
                    "PROMOTIONS.SPEND_BEFORE"
                    | translate : { amount: amountOfRemanSpend }
                    }}
                  </span>}

                  {{ tireExpiryDate | date : "MMMM d, y" }}
                  {{ "PROMOTIONS.TO_REACH" | translate }}
                  @if(nextTier?.name){
                  <span>
                    {{ translate(nextTier.name, appService.lang) }}
                  </span>}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>}